body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
}

h1 {
    display: none !important;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500 !important;
    font-size: 18px;
    margin-bottom: calc(4px * 6);
}
